body {
  background-color: rgb(219, 228, 230);
  /* cursor: url("/rose.cur"), auto; */
}
/* a, button {
  cursor: url('/smallstar.cur'), pointer;
} */

@font-face {
  font-family: 'Frutiger';
  src: url('/fonts/frutiger.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}