---
import AboutHeroImage from '../assets/-about.jpg';
import KM from '../assets/KM.jpeg'
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="yo"
	pubDate={new Date('January 17 2026')}
	heroImage={KM}
>
	<p>
		My name is Caitlin Box! I am set to graduate by May of this year which I am so excited about so I can finally start my professional work. 
		Currently, I am a computer science and history major. I started my history degree back in 2020 where I switched between many minors (french, education, cs)
		 because I was still trying to find my footing. I've worked as an extended day counselor as Avalon Elementary, then onto substituting for ASD classes. 
		 After shadowing a middle school civics class at Discovery Middle school, I decided I wanted a change. This led me to changing my minor from education to cs where I began to love the subject and went for a dual major. 

	</p>

	<p>
		This site was made for HIS4912 - a directed undergraduate research internship
	</p>

</Layout>
