---
import { ClientRouter } from 'astro:transitions';
---
<head>
  <ClientRouter />
</head>

<div class="cursor" transition:persist></div>

<script is:inline>

    let mouseX = 0; 
    let mouseY = 0;
    let circleX = 0;
    let circleY = 0; 
    let vx = 0; 
    let vy = 0; 

    const stiffness = 0.09; 
    const friction = 0.5; 

    let isInitialized = false; 

    function initCursorLoic () {
        if (isInitialized) 
            return; 
        const onMouseMove = (e) => {
            mouseX = e.clientX; 
            mouseY = e.clientY; 
        }; 

        window.addEventListener('mousemove', onMouseMove); 

        function animate() {
            // distance from mouse to circle 
            let dx = mouseX - circleX; 
            let dy = mouseY - circleY; 

            // acceleration 
            let ax = dx * stiffness; 
            let ay = dy * stiffness; 

            // velocity 
            vx += ax; 
            vy += ay; 

            // friction 
            vx *= friction; 
            vy *= friction; 

            circleX += vx;  
            circleY += vy; 

            // finding where the cursor left off at 
            const currentCursor = document.querySelector('.cursor'); 
            if (currentCursor) {
                currentCursor.style.transform = `translate3d(${circleX-20}px, ${circleY - 20}px, 0)`;
            }

            requestAnimationFrame(animate); 
        }

        animate(); 
        isInitialized = true; 
    }

    initCursorLoic(); 
    // document.addEventListener('astro:after-swap', () => {

    // }); 
</script>

<style>
  .cursor {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: difference;
  }
</style>