---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';

---

<header>
	<nav>
		<h2> </h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {

		background: rgba(255, 255, 255, 0);
		border-radius: 50px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(15.7px);
		margin: 20px 30% 0 30%;

		border: 1px solid rgba(255, 255, 255, 0.4);
		background: rgba(255, 255, 255, 0.15);

		/* sticky header  */
		position: sticky;
		top: 0;
		z-index: 1000; 
	}
	nav {
		/* centering text */
		display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 30px;
        width: 90%;
		font-size: 20px;
	}
	.internal-links {
		font-family: 'Frutiger', sans-serif;
        display: flex;
        gap: 20px; /* Space between Home, Blog, About */
        line-height: 1;
	}
</style>
